/*desktop */
.navbar {
  background-color: #53871c;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.navbar ul {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
}
.ham{
  display: flex;
  justify-content: space-between;
}
.navbar li {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger span {
  border-top: 2px solid white;
  width: 1.2rem;
  display: block;
  padding: 0.2rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 3px solid white;
  color: black;
}

.logo{
  background-image: url(./logo.png);
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 6rem;
  height: 3rem;
  
}

/* mobile/tablet */
@media screen and (max-width: 1204px) {
  .hamburger {
    display: block;
    padding: 1rem;
    float: right;
  }

  .nascosto {
    max-height: 0px;
    visibility: hidden;
    transition: max-height 0.3s ease-out;
  }

  .visibile {
    height: 20rem;
    max-height: 15rem;
    visibility: visible;
    transition: max-height 0.3s ease-out;
  }

  .navbar ul {
    flex-direction: column;
    padding: 0rem;
    clear: both;
    overflow: auto;
    justify-content: unset;
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    display: block;

  }

}