.esplora {
  width: 100%;
  height: 35rem;
  background-image: url(./lake-5443295_1920.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.37);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  padding: 3rem;
  text-align: center;
}

.esplora > div {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.esplora h1 {
  font-size: 5rem;
  color: white;
  text-align: center;
  margin: 0px;
}

.waviy {
  position: relative;
  display: flex;
}

.waviy h1 {
  position: relative;
  display: inline-block;
  font-size: 5rem;
  color: var(--primary);
  animation: flip 3s infinite;
  animation-delay: calc(0.2s * var(--i));
  margin: 0px;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/*-------------------------------------------------------cartina-------------------- */
.sectionCartina {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.sectionCartina p {
  width: 38rem;
  padding: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  /* color: white; */
  font-weight: 500;
}

.cartina {
  background-image: url(./piemonte\ cartina.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 28rem;
  height: 33rem;
}

.istruzioni h3 {
  text-align: center;
  margin: 0px;
}

.istruzioni {
  color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.p {
  text-align: center;
  color: var(--primary);
  margin: 30px;
}

.SectionCard {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 1rem;
}

@media screen and (max-width: 1204px) {
  .esplora h1 {
    font-size: 4rem;
  }

  .esplora {
    padding-top: 5rem;
  }

  .SectionCard {
    gap: 2rem;
  }
}

@media screen and (max-width: 604px) {
  .sectionCartina p {
    width: 100%;
    padding: 2rem;
  }
}
