html {
  scroll-behavior: smooth;
}

html,
body,
#root,
.app {
  margin: 0px;
  height: 100%;
  width: 100%;
}

:root {
  --primary: #53871c;
  --secondary: #0ba5e7;
  --primary-100: #ace1af;
  --primary-200: #b5ca8d;
  --primary-300: #8bb174;
  --primary-800: #2a4849;
  --secondary-100: #88edf8;
  --secondary-300: #91c4f2;
  --secondary-400: #6699cc;
  --secondary-700: #05445e;
  --secondary-900: #222e50;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: var(--secondary-700);
  text-align: center;
}

h5 {
  color: var(--secondary-700);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
