/* .SectionCategory {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.SectionCategory div {
    padding: 2rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.767);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 25rem;
    color: white;
    text-align: center;
    height: 8rem;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    letter-spacing: 2px;
    font-weight: 100;
}


.SectionCategory div:hover {
    background-color: rgba(0, 0, 0, 0.226);
}



.flora {
    background-image: url(../SectionCategory/dandelion-1452219_640.jpg);
}


.fauna {
    background-image: url(../SectionCategory/Dama\ dama\ \(Daino\).jpg);
}

.monumenti {
    background-image: url(../SectionCategory/Novara\ \ Basilica\ di\ San\ Gaudenzio\ .jpeg);
} */

/* *************************************************************************************************** */
.SectionCategory {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  margin-top: 2rem;
  position: sticky;
  top: 35px;
}
.SectionCategory li {
  list-style: none;
  cursor: pointer;
  font-weight: 700;
}
.SectionCategory li:hover {
  color: var(--primary);
}
.divSelect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
}

@media screen and (max-width: 1204px) {
  .SectionCategory {
    gap: 1rem;
    padding: 2rem;
  }
}
